#profile-bio {
  & img {
    background-color: grey;
    width: 100px;
    aspect-ratio: 1;
  }

  & .carousel-indicators .btn {
    background-color: white;

    &.active {
      background-color: rgba(var(--user-theme-primary));
      color: var(--user-theme-primary-txtClr) !important;
    }
  }
}
