// imports 
//import functions 
@import "../../node_modules/bootstrap/scss/functions";
//import custom variables 
@import "./abstracts/variables";
//import bootstrap files
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// import custom files
@import "./abstracts";
@import "./base";
@import "./components";
@import "./layout";
@import "./page";


//code 

body{ overflow-x: hidden; }
.navbar {z-index: 1000;}

$font-family: "open sans";



// search field navbar
#site-search {
    position: relative;

    &:hover, &:focus-within {
        @include pseudo(after, 100%, 2px) {
            width: 100%;
        }

        & .form-control{ 
            @include media-breakpoint-up(lg) {width: 25ch;} 
            box-shadow: none;
        }
    }

    @include pseudo(after, 0%, 1px) {
        background-color: currentColor;
        bottom: 0;
        transition: all 200ms ease;
    }; 

    & .form-control {
        background: transparent;
        border: none;
        transition: all 200ms ease;
        
        @include media-breakpoint-up(lg) { 
            width: calc(10ch + $input-padding-x); 
        }
        
        &::placeholder {color: currentColor;}
    }
    & .fa-solid:hover {color: white;}
}
// end-- search field navbar

// form labels
.form-label{
    display: flex;
    position: relative;
    align-items: center;

    & > span {
        flex: 1;
        height: 1px;
        background-color: currentColor;
    }
}
// form labels end

// post
.root {
    --user-color: $user-color;
} 
// user-color will be the way to adjust each users post to their color. some JS will be needed, but for now this will be a template. will be fully functional with the api. 



.liked {
    color: rgb(224, 57, 38)
}


.profile-page {
    &__user {
        position: relative;
        height: clamp(250px, 75vmin, 400px);

        & .banner {
            $calc-img-translate: calc( clamp(min(175px, 50%), 20vw + 0.25rem, 200px)  /  3);

            position: absolute;
            z-index: -1;
            &__img {
                height: calc(100% - $calc-img-translate);
                background: $user-color;
            }
            &__spacer {
                height: $calc-img-translate;
            }
        }

        
        &-img {
            & img {
                width: clamp(min(175px, 50%), 20vw + 0.25rem, 200px);
                min-width: 100px;
                border-color: $user-color;
            }
        }
    }
    h1 {
        max-width: min(350px, 60vw) !important;
        text-align: center;
    }


    & .banner {
        height: 300px;
    }

}

#profile-bio {



    & img {
        background-color: grey;
        width: 100px;
        aspect-ratio: 1;
    }

    & .carousel-indicators .btn {
        background-color: white;
        
        &.active {
            color: color-contrast($user-color) !important;
            background-color: $user-color;
        }
    }
}

#friend-list {
    & .scroll-list {
        overflow-x: auto;
        padding-inline: 20px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    @include pseudo(before, 20px, 100%) {
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #fff, #ffffff00);
    }
    
    @include pseudo(after, 20px, 100%) {
        top: 0;
        right: 0;
        background: linear-gradient(-90deg, #fff, #ffffff00);
    }
    
       
        
}