// imports 
//import functions 
@import "../../node_modules/bootstrap/scss/functions";
//import custom variables 
@import "./abstracts/variables";
//import bootstrap files
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// import custom files
@import "./abstracts";
@import "./base";
@import "./components";
@import "./layout";
@import "./page";

//code 
:root {
    --header-height: 80px;
    --user-color: $user-color;
    // user-color will be the way to adjust each users post to their color. some JS will be needed, but for now this will be a template. will be fully functional with the api. 
} 

.push-down {
    margin-top: calc(   var($header-height) + 30px);
}